[submodule "robaicrawler"]
	path = robaicrawler
	url = https://github.com/Rob-P-Smith/robaicrawler.git
[submodule "robaidata"]
	path = robaidata
	url = https://github.com/Rob-P-Smith/robaidata.git
[submodule "robaivllm"]
	path = robaivllm
	url = https://github.com/Rob-P-Smith/robaivllm.git
[submodule "robairagapi"]
	path = robairagapi
	url = https://github.com/Rob-P-Smith/robairagapi.git
[submodule "robaiproxy"]
	path = robaiproxy
	url = https://github.com/Rob-P-Smith/robaiproxy.git
[submodule "robaimodeltools"]
	path = robaimodeltools
	url = https://github.com/Rob-P-Smith/robaimodeltools.git
[submodule "robaitragmcp"]
	path = robaitragmcp
	url = https://github.com/Rob-P-Smith/robaitragmcp.git
[submodule "robaikg"]
	path = robaikg
	url = https://github.com/Rob-P-Smith/robaikg.git
[submodule "robaiwebui"]
	path = robaiwebui
	url = https://github.com/Rob-P-Smith/robaiwebui.git
[submodule "robairagmcpremoteclient"]
	path = robairagmcpremoteclient
	url = https://github.com/Rob-P-Smith/robairagmcpremoteclient.git
[submodule "robaimultiturn"]
	path = robaimultiturn
	url = https://github.com/Rob-P-Smith/robaimultiturn.git
